.banner {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 16.7dvh;

  background-color: var(--color-1);
  color: var(--color-3);

  &-scroll {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    min-height: 0;
    padding: 5px;
    transform: translateY(-100%);
    animation-name: animation-banner;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timeline: scroll(root);
    animation-range: 200px 300px;
    @keyframes animation-banner {
      0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0%);
      }
    }
    h2,
    .rs {
      margin-bottom: 0;
    }
  }
}
