.banner{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 16.7vh;

    background-color: var(--color-1);
    color: var(--color-3);
}