
@use "sass:math";
.col{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    $a_100_12 :math.div(100, 12);
    @for $var from 1 to 13 {
        &-#{$var}{
            width: #{$a_100_12 * $var * 1%};
        }
        
    }
    @media (max-width:1240px) {
        @for $var from 1 to 13 {
            &-xl-#{$var}{
                width: #{$a_100_12 * $var * 1%};
            }
            
        }
    }
    @media (max-width:991px) {
        @for $var from 1 to 13 {
            &-lg-#{$var}{
                width: #{$a_100_12 * $var * 1%};
            }
            
        }
    }
    @media (max-width:766px) {
        @for $var from 1 to 13 {
            &-md-#{$var}{
                width: #{$a_100_12 * $var * 1%};
            }
            
        }
    }
    @media (max-width:575px) {
        @for $var from 1 to 13 {
            &-sm-#{$var}{
                width: #{$a_100_12 * $var * 1%};
            }
            
        }
    }
    &:not(.no-breack-print){
        @media print {
            width: 100%;
        }
    }
}

.md-none{
    @media (max-width:766px) {
        display: none;
    }
}