.container{
    width: 1200px;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;

    @media (max-width:1240px) {
        width: 980px;
    }
    @media (max-width:991px) {
        width: 740px;
    }
    @media (max-width:766px) {
        width: 560px;
    }
    @media (max-width:575px) {
    }
}