.img {
  max-width: 100%;
  &-Iam {
    width: 200px;
    border-radius: 100%;
    margin: auto;
    aspect-ratio: 1/1;
    &-small {
      @extend .img-Iam;
      width: 4rem;
    }
  }
  &-textList {
      width: auto;
      height: 4rem;
    &-small {
      height: 1.5rem;
    }
  }
}
