.textList{
    color: var(--color-5);
    margin-bottom: 35px;
    strong{
        font-size: 1.2rem;
    }
    .date{
        font-size: 0.8rem;
    }
    ul{
        margin-top: 10px;
    }
    li{
        font-size: 0.92rem;
        color: var(--color-1);
        margin-bottom: .5rem;
        span{
            color: var(--color-5);
        }
    }
}