.textList {
  color: var(--color-5);
  margin-bottom: 35px;
  strong {
    font-size: 1.2rem;
  }
  .date {
    font-size: 0.8rem;
  }
  ul {
    margin-top: 10px;
    @media (max-width: 766px) {
      padding-left: 1.2rem;
    }
  }
  li {
    font-size: 0.92rem;
    color: var(--color-1);
    margin-bottom: 0.5rem;
    span {
      color: var(--color-5);
    }
  }
  &-title {
    &,
    & a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    &-single {
      strong {
        font-size: 2.5rem;
      }
    }
  }
}
