.title{
    color: var(--color-1);
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom: 15px;
    text-transform: uppercase;
    @media (max-width:766px) {
        font-size: 1.2rem;
        padding-bottom: 5px;
    }
    i{
        @media (max-width:766px) {
            margin-right: 5px !important;
        }
    }
}